<nz-layout class="layout">

  <app-nps-header></app-nps-header>

  <nz-content>
    <nz-layout class="inner-layout">
      <nz-sider [nzWidth]="256">
        <ul nz-menu [nzMode]="'inline'" style="background-color: #404040; border-right: none">
          <li nz-submenu>
            <span title><i class="anticon anticon-user"></i>数据总览</span>
            <ul>
              <li nz-menu-item>
                <a href="/home/profile/tables">Tables列表</a>
              </li>
              <li nz-menu-item>option2</li>
              <li nz-menu-item>option3</li>
              <li nz-menu-item>option4</li>
            </ul>
          </li>
          <li nz-submenu>
            <span title><i class="anticon anticon-database"></i>集群管理</span>
            <ul>
              <li nz-menu-item>option5</li>
              <li nz-menu-item>option6</li>
              <li nz-menu-item>option7</li>
              <li nz-menu-item>option8</li>
            </ul>
          </li>
          <li nz-submenu>
            <span title><i class="anticon anticon-setting"></i>系统设置</span>
            <ul>
              <li nz-menu-item>
                <a href="/home/settings/push">Scylla设置</a>
              </li>
              <li nz-menu-item>option10</li>
              <li nz-menu-item>option11</li>
              <li nz-menu-item>option12</li>
            </ul>
          </li>
        </ul>
      </nz-sider>

      <nz-layout class="router-layout">
        <router-outlet></router-outlet>
      </nz-layout>

    </nz-layout>

  </nz-content>

</nz-layout>
